*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outer{
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.outer > h1{
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  position: relative;
  cursor: pointer;
  
}

.outer > h1::after{
  content: "";
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 2s ease-in;
}

.outer > h1:hover::after{
  width: 100%;
}


.outer > .card{
  width: 350px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}

.card > form > label{
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card > form > input{
  display: block;
  margin-bottom: 7px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border 0.2s ease-in;

  &:hover{
    border: 2px solid rgb(105, 105, 255);
  }
}


input::placeholder{
  font-size: 16px;
  font-weight: bold;
}
.card > form > button{
  width: 100%;
  margin-block: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #555;
  color:white;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in;

  &:hover{
    background-color: #666;
  }
}